/* Styling the form and items */
.todo {
  border: 1px solid grey;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sortTitle,
.sortCreatedTime, 
.sortUpButton, 
.sortDownButton {
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

/* Active when video is running in bkg  */
/* .sort {
  display: flex; 
} */

.sortTitle {
  width: auto; /* fix text overflow  */
  font-size: 24px;
  margin-right: 20px;
  border: none;
  border-radius: 8px;
  background: rgba(100, 197, 255, .7);
  cursor: pointer;
}

.sortUpButton, 
.sortDownButton,
.sortCreatedTime {
  width: auto; /* fix text overflow  */
  font-size: 24px;
  margin-right: 20px;
  border: none;
  border-radius: 8px;
  background: rgba(100, 197, 255, .7);
  cursor: pointer;
}
 
.actions {
  width: auto; /* fix text overflow  */
  text-align: right;
  color: #00ff;
  border: none;
  background-color: white;
  font-size: 20px;
}

.sortCreatedTime:hover {
  background-color: rgba(0, 140, 255, .7); 
}

.sortTitle:hover {
  background-color: rgb(50, 197, 255); 
}

.sortDownButton:hover {
  background-color: rgb(50, 197, 255);
}

.sortUpButton:hover {
  background-color: rgb(50, 197, 255);
}