/* Styling the text-font */
.app {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 1.5rem;
}

/* Style for the header*/
.headlineTitle {
  color: White;
  font-size: 80px;
  font-weight: 100px;
  letter-spacing: 2px;
  background: rgba(25, 80, 120, .5);
}

/* Styling the container and text color */
.container {
  height: auto;
  padding: 20px;
  color: #171212;
}

button.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sortTitle,
.sortCreatedTime, 
.sortUpButton, 
.sortDownButton {
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

/* Active when video is running in bkg  */
.sort {
  display: flex; 
}

.sortTitle {
  width: auto; /* fix text overflow  */
  font-size: 24px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  background: rgba(100, 197, 255, .7);
  cursor: pointer;
}

.sortUpButton, 
.sortDownButton,
.sortCreatedTime {
  width: auto; /* fix text overflow  */
  font-size: 24px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  background: rgba(100, 197, 255, .7);
  cursor: pointer;
}
 
.actions {
  width: auto; /* fix text overflow  */
  text-align: right;
  color: #00ff;
  border: none;
  /* background-color: white; */
  font-size: 20px;
}

.sortCreatedTime:hover {
  background-color: rgba(0, 140, 255, .7); 
}

.sortTitle:hover {
  background-color: rgb(50, 197, 255); 
}

.sortDownButton:hover {
  background-color: rgb(50, 197, 255);
}

.sortUpButton:hover {
  background-color: rgb(50, 197, 255);
}

/* Making app and headlineTitle responsiveness */
@media (max-width: 600px) {
  .app {
    color: cyan;
  }
}

@media (orientation: landscape) and (max-width: 600px) {
  .headlineTitle {
    color:blue;
  }
}