/* Styling the text-font */
.app {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 1.5rem;
}

/* Style for the header*/
.headlineTitle {
  color: White;
  font-size: 80px;
  font-weight: 100px;
  letter-spacing: 2px;
  background: rgba(25, 80, 120, .5);
}

/* Styling the container and text color */
.container {
  height: auto;
  padding: 20px;
  color: #171212;
}

/* Making app and headlineTitle responsiveness */
@media (max-width: 600px) {
  .app {
    color: cyan;
  }
}

@media (orientation: landscape) and (max-width: 600px) {
  .headlineTitle {
    color:blue;
  }
}